In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("bitmex_5m_xbtusd.csv")

In [7]:
%pip install TA-Lib

The following command must be run outside of the IPython shell:

    $ pip install TA-Lib

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

### watch data

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
y = data.Low.shift(2)

In [17]:
data = data[2:]

In [21]:
X = pd.DataFrame()
X["Open"] = data.Open
X["Hight"] = data.High
X["Low"] = data.Low 
X["Close"] = data.Close

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model = LinearRegression()

In [26]:
target = [0 if X[3] - X[2] else 1 for X in data.values]

In [27]:
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [30]:
from sklearn.metrics import mean_absolute_error

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42, shuffle=True)

D:\programs\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [32]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
mean_absolute_error(model.predict(X_test), y_test)

14.278293568511222

In [35]:
data.describe()

,Unnamed: 0,datetime,Open,High,Low,Close,Volume
count,49998.000000,4.999800e+04,49998.000000,49998.00000,49998.000000,49998.000000,4.999800e+04
mean,25000.500000,1.526737e+12,7883.275991,7893.26184,7873.009300,7883.184287,9.952103e+06
std,14433.323716,4.329997e+09,1285.394514,1288.72374,1281.822396,1285.363032,1.196090e+07
min,2.000000,1.519238e+12,5799.500000,5820.50000,5743.000000,5799.500000,0.000000e+00
25%,12501.250000,1.522987e+12,6741.125000,6747.00000,6735.500000,6741.000000,3.569091e+06
50%,25000.500000,1.526737e+12,7674.250000,7682.75000,7668.000000,7674.000000,6.513358e+06
75%,37499.750000,1.530487e+12,8740.500000,8756.00000,8725.500000,8740.500000,1.180408e+07
max,49999.000000,1.534237e+12,11664.500000,11683.00000,11649.000000,11664.500000,2.519013e+08

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [46]:
model = KNeighborsClassifier()

In [64]:
X = pd.DataFrame()
X["Open"] = data["Open"]
X["High"] = data["High"]
X["Low"] = data["Low"]
X["Close"] = data["Close"]
X["Volume"] = data["Volume"]

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, target, train_size=0.7, random_state=42, shuffle=True)

D:\programs\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [66]:
from sklearn.metrics import accuracy_score

In [67]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [72]:
accuracy_score(model.predict(X_test), y_test)

0.8428

In [63]:
data

       Unnamed: 0       datetime     Open     High      Low    Close    Volume
2               2  1519237500000  10617.0  10635.0  10612.5  10631.0   6183325
3               3  1519237800000  10631.0  10635.0  10601.5  10613.0   5316231
4               4  1519238100000  10613.0  10613.5  10581.0  10598.0   8389699
5               5  1519238400000  10598.0  10634.5  10597.5  10608.0   6385291
6               6  1519238700000  10608.0  10617.0  10583.5  10597.5   6167482
7               7  1519239000000  10597.5  10604.5  10581.0  10585.0   3594451
8               8  1519239300000  10585.0  10585.5  10530.0  10542.0  11492901
9               9  1519239600000  10542.0  10547.0  10460.0  10509.5   9498173
10             10  1519239900000  10509.5  10558.5  10494.5  10541.0   7414589
11             11  1519240200000  10541.0  10573.0  10541.5  10547.5   5551545
12             12  1519240500000  10547.5  10554.5  10500.0  10500.0   4275244
13             13  1519240800000  10500.0  10520.0  10455.5  10513.0   8698027
14             14  1519241100000  10513.0  10516.0  10480.0  10480.0   5200452
15             15  1519241400000  10480.0  10530.0  10480.0  10488.5   6190809
16             16  1519241700000  10488.5  10488.5  10407.0  10437.0  11525896
17             17  1519242000000  10437.0  10450.0  10400.5  10404.5   7432571
18             18  1519242300000  10404.5  10437.5  10395.0  10425.5   8714112
19             19  1519242600000  10425.5  10456.5  10426.0  10456.5   6324279
20             20  1519242900000  10456.5  10466.0  10408.5  10425.5   8687761
21             21  1519243200000  10425.5  10467.0  10425.0  10467.0   4928685
22             22  1519243500000  10467.0  10486.0  10450.0  10460.0   4876795
23             23  1519243800000  10460.0  10462.0  10300.0  10305.0  19581392
24             24  1519244100000  10305.0  10374.0  10300.5  10374.0  12650561
25             25  1519244400000  10374.0  10374.0  10300.0  10307.5  10176972
26             26  1519244700000  10307.5  10346.0  10251.0  10312.5  24002377
27             27  1519245000000  10312.5  10365.0  10310.0  10324.0  10190166
28             28  1519245300000  10324.0  10337.5  10263.0  10263.5   9998723
29             29  1519245600000  10263.5  10315.5  10261.0  10271.5  10703286
30             30  1519245900000  10271.5  10365.0  10271.5  10355.5  13756466
31             31  1519246200000  10355.5  10356.5  10315.0  10336.0   8683541
...           ...            ...      ...      ...      ...      ...       ...
49970       49970  1534227900000   5978.0   5981.5   5977.5   5978.0   4350362
49971       49971  1534228200000   5978.0   5979.0   5973.5   5979.0   3576916
49972       49972  1534228500000   5979.0   5979.0   5967.0   5967.0   3998566
49973       49973  1534228800000   5967.0   5967.5   5960.0   5963.0   5780074
49974       49974  1534229100000   5963.0   5963.5   5946.0   5948.0   9377381
49975       49975  1534229400000   5948.0   5958.0   5943.5   5958.0   9268556
49976       49976  1534229700000   5958.0   5978.0   5957.5   5973.0   7612499
49977       49977  1534230000000   5973.0   5973.0   5967.0   5973.0   5292828
49978       49978  1534230300000   5973.0   5973.0   5968.0   5972.5   6669448
49979       49979  1534230600000   5972.5   5990.0   5972.0   5976.0  11725531
49980       49980  1534230900000   5976.0   5976.5   5968.0   5971.0   3750648
49981       49981  1534231200000   5971.0   5971.5   5969.5   5970.0   2693581
49982       49982  1534231500000   5970.0   5970.0   5967.5   5968.0   2397552
49983       49983  1534231800000   5968.0   5996.0   5967.5   5991.0  15669773
49984       49984  1534232100000   5991.0   6059.5   5988.5   6035.0  58987166
49985       49985  1534232400000   6035.0   6072.0   6025.0   6040.0  38698983
49986       49986  1534232700000   6040.0   6040.0   6022.0   6027.0  18511668
49987       49987  1534233000000   6027.0   6034.5   6020.5   6033.5  13082386
49988       49988  1534233300000   6033.5   6041.0   6030.0   6035.5  11205675
49989       49989  1534233600000   6035.5   6035.5   6021.0   6027.0   9385647
49990       49990  1534233900000   6027.0   6027.5   6013.0   6013.5  10854915
49991       49991  1534234200000   6013.5   6019.0   6009.0   6017.5   7650297
49992       49992  1534234500000   6017.5   6030.0   6017.0   6030.0   6400170
49993       49993  1534234800000   6030.0   6047.0   6029.5   6042.5  14937917
49994       49994  1534235100000   6042.5   6043.0   6026.5   6027.0   7881639
49995       49995  1534235400000   6027.0   6029.5   6027.0   6027.5   2936959
49996       49996  1534235700000   6027.5   6028.0   6015.5   6021.0   7591805
49997       49997  1534236000000   6021.0   6032.0   6020.5   6029.0   5576024
49998       49998  1534236300000   6029.0   6037.5   6027.0   6027.5   5918939
49999       49999  1534236600000   6027.5   6032.0   6025.0   6032.0   2274019

[49998 rows x 7 columns]