In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("bitmex_5m_xbtusd.csv")

In [7]:
%pip install TA-Lib

The following command must be run outside of the IPython shell:

    $ pip install TA-Lib

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more information on how to install packages:

    https://docs.python.org/3/installing/

### watch data

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
y = data.Low.shift(2)

In [17]:
data = data[2:]

In [21]:
X = pd.DataFrame()
X["Open"] = data.Open
X["Hight"] = data.High
X["Low"] = data.Low 
X["Close"] = data.Close

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model = LinearRegression()

In [26]:
y = y.dropna()

In [27]:
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [30]:
from sklearn.metrics import mean_absolute_error

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42, shuffle=True)

D:\programs\Anaconda\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [32]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
mean_absolute_error(model.predict(X_test), y_test)

14.278293568511222

In [35]:
data.describe()

,Unnamed: 0,datetime,Open,High,Low,Close,Volume
count,49998.000000,4.999800e+04,49998.000000,49998.00000,49998.000000,49998.000000,4.999800e+04
mean,25000.500000,1.526737e+12,7883.275991,7893.26184,7873.009300,7883.184287,9.952103e+06
std,14433.323716,4.329997e+09,1285.394514,1288.72374,1281.822396,1285.363032,1.196090e+07
min,2.000000,1.519238e+12,5799.500000,5820.50000,5743.000000,5799.500000,0.000000e+00
25%,12501.250000,1.522987e+12,6741.125000,6747.00000,6735.500000,6741.000000,3.569091e+06
50%,25000.500000,1.526737e+12,7674.250000,7682.75000,7668.000000,7674.000000,6.513358e+06
75%,37499.750000,1.530487e+12,8740.500000,8756.00000,8725.500000,8740.500000,1.180408e+07
max,49999.000000,1.534237e+12,11664.500000,11683.00000,11649.000000,11664.500000,2.519013e+08

In [38]:
target = [0 if X.]

   Unnamed: 0       datetime     Open     High      Low    Close   Volume
2           2  1519237500000  10617.0  10635.0  10612.5  10631.0  6183325
3           3  1519237800000  10631.0  10635.0  10601.5  10613.0  5316231
4           4  1519238100000  10613.0  10613.5  10581.0  10598.0  8389699
5           5  1519238400000  10598.0  10634.5  10597.5  10608.0  6385291
6           6  1519238700000  10608.0  10617.0  10583.5  10597.5  6167482